<h4>Upload CSV Files</h4>
<div class="header">
  <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "logout-link" %>
</div>

<%= render "people/import_form" %>

<% if Person.any? %>
  <div class="sort-links">
    <strong>Sort by:</strong>
    <%= link_to "ID", root_path(sort: "id") %>
    <%= link_to "Name", root_path(sort: "name") %>
    <%= link_to "Age", root_path(sort: "age") %>
  </div>
  <br><br>
<% end %>

<% @people.each do |person| %>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title"><%= person.name %></h5>
      <h6 class="card-subtitle mb-2 text-muted"><%= person.age %></h6>
    </div>
  </div>
<% end %>

<div class="pagination justify-content-center">
  <%= will_paginate @people %>
</div>

<style>
  .header {
  text-align: right;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
}

.logout-link {
  color: red;
}
</style>
